/PadraoABACABA/nbproject/private/
/PadraoABACABA/build/
/Verificador de Ano Bissexto/nbproject/private/
/Verificador de Ano Bissexto/build/
/Simulador de Rolagem de Dados/nbproject/private/
/Simulador de Rolagem de Dados/build/
/Verificador de Divisibilidade/nbproject/private/
/Verificador de Divisibilidade/build/
/Desigualdade Triangular/nbproject/private/
/Desigualdade Triangular/build/
/Distancia a Origem/nbproject/private/
/Distancia a Origem/build/
/Gerador de numero aleatorio no intervalo/nbproject/private/
/Gerador de numero aleatorio no intervalo/build/
/Soma de rolagens de dados aleatorias/nbproject/private/
/Soma de rolagens de dados aleatorias/build/
/Calculo de desclocamento vertical/nbproject/private/
/Calculo de desclocamento vertical/build/
